* {
  margin: 0;
  padding: 0;
}
.body {
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background: #f5ede7;
}
.link {
  text-decoration: none;
  list-style: none;
  color: black;
  cursor: none;
  color: #000;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 12.802px; /* 80.01% */
  text-transform: uppercase;
}
.li {
  list-style-type: none;
}
.body {
  max-width: 1440px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  background: #f5ede7;
}
.header {
  width: 96.7%;
  height: 70px;
  background: #f5ede7;
  display: flex;
  align-items: flex-end;
  padding: 16px 24px;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  position: relative;
}

.navigation {
  width: auto;
  height: 14px;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: flex-start;
  gap: 16px;
  visibility: visible;
}
.day-hught_switcher {
  border: none;
  background: none;
}
.logIn {
  width: 45px;
  height: 30px;
  margin-bottom: 30px;
}
.section {
  padding-top: 40px;
  width: 100%;
  height: auto;
  gap: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.paragraph,
.paragraph2 {
  width: 75%;
  height: 98%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.text {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 26px;
  justify-content: center;
}
.textP {
  color: #000;
  font-family: Roboto;
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 40.005px; /* 153.865% */
}

.textH1 {
  color: #000;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.003px; /* 150.019% */
  text-transform: uppercase;
}
.footer {
  width: 98%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* gap: 170px;*/
  padding: 105px 17px 0px 15px;
  flex-wrap: wrap;
}
.divFooter {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
}
.Hf {
  color: #000;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 36.018px; /* 163.72% */
}
.PF {
  color: #000;
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24.003px; /* 150.019% */
  text-transform: uppercase;
}
@media screen and (max-width: 1160px) {
  .paragraph {
    flex-direction: column;
  }
  .paragraph2 {
    flex-direction: column-reverse;
  }
  .img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
/*@media screen and (max-width: 980px){
 .divFooter{
  flex-direction: column;
  flex-wrap: wrap;
 }
}*/
