* {
    margin: 0 auto;
    padding: 0;
  }
  .link {
    text-decoration: none;
    list-style: none;
    color: black;
    cursor: none;
    color: #000;
    font-family: "DM Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 12.802px; /* 80.01% */
    text-transform: uppercase;
  }
  .li {
    list-style-type: none;
  }
  .body {
    max-width: 1440px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    background: #f5ede7;
  }
  .section3{
    width: 90%;
    height: auto;
    background: #f5ede7;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
  }
  .div3{
    width: auto;
  height: 577px;
  padding: 25px;
  border-radius: 20px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 15px;
  flex-direction: column;
  }